<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="explain">
    <div>Regretメール一覧</div>
    <div class="explain2">新しい順</div>
</div>

<% @posts.each do |post| %>

    <div class="frame">

        <div class="header">
            <img src="/wave.png" alt="電波" width="25" height="20">
            <img class="header_right" src="/battery.png" alt="充電" width="30" height="20">
        </div>

        <div class="form">
            <div class="input_frame red">
                <p>受信メール</p>
            </div>
            
            <div class="input_frame">
                <ul class="input_frame_son">
                    <li>受信日時：</li>
                    <li class="input"><%= post.datetime.strftime('%Y/%m/%d %H:%M') %></li>
                </ul>
            </div>

            <div class="clear input_frame">
                <ul class="input_frame_son">
                    <li>差出人：</li>
                    <li class="input"><%= post.name %></li>
                </ul>
            </div>

            <div class="clear input_frame gray">
                <ul class="input_frame_son">
                    <li>件名：</li>
                    <li class="input"><%= post.sub %></li>
                </ul>
            </div>

            <div class="clear">
                <div class="textarea"><%= post.content %></div>
            </div>

        </div>

    </div>

    <div><br></div>

<% end %>