<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="explain">
    <div class="explain1">メール一覧</div>
    <details class="explain2">
        <summary><%= @summary %></summary>
        <%= link_to "投稿が新しい順", posts_index_path(post_new: "true") %>
        <%= link_to "投稿が古い順", posts_index_path(post_old: "true") %>
        <%= link_to "受信日時が新しい順", posts_index_path(receive_new: "true") %>
        <%= link_to "受信日時が古い順", posts_index_path(receive_old: "true") %>
    </details>
</div>

<% @posts.each do |post| %>

    <div class="frame">

        <div class="header">
            <img src="/wave.png" alt="電波" width="25" height="20">
            <img class="header_right" src="/battery.png" alt="充電" width="30" height="20">
        </div>

        <div class="form">
            <div class="input_frame red">
                <p>受信メール</p>
            </div>
            
            <div class="input_frame">
                <ul class="input_frame_son">
                    <li>受信日時：</li>
                    <li class="input"><%= post.datetime.strftime('%Y/%m/%d %H:%M') %></li>
                </ul>
            </div>

            <div class="clear input_frame">
                <ul class="input_frame_son">
                    <li>差出人：</li>
                    <li class="input"><%= post.name %></li>
                </ul>
            </div>

            <div class="clear input_frame gray">
                <ul class="input_frame_son">
                    <li>件名：</li>
                    <li class="input"><%= post.sub %></li>
                </ul>
            </div>

            <div class="clear">
                <%= link_to 'javascript:void(0);', class: 'show-mores'  do %>
                    <div class="textarea" id="textarea_<%= post.id %>"><%= post.content %></div>
                <% end %>
            </div>

        </div>

    </div>

    <div><br></div>
    
<% end %>

    
    <script>
        // 全ての要素を取得
        var showMores = document.querySelectorAll('.show-mores');

        showMores.forEach(function(showMore) {
            // 既存のクリックイベントリスナーを削除
            showMore.removeEventListener("click", clickHandler);
            // 新しいクリックイベントリスナーを追加
            showMore.addEventListener('click', clickHandler); 
        });

        // クリックしたら動作する関数
        function clickHandler(event){
            // クリックした要素を取得
            var target = event.target;
            // スタイルを取得
            var computedStyle = window.getComputedStyle(target);

            // 指定したプロパティが存在するか確認
            if (computedStyle.maxHeight == '80px') {
                target.style.maxHeight = 'none';
                console.log(computedStyle.maxHeight);
                console.log("ifの中入った");
            }else{
                target.style.maxHeight = '5rem';
                console.log(target.style.maxHeight);
                console.log("elseの中入った");
            }
        };
        
    </script>