<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="explain">
    <div class="explain1">メール一覧</div>
    <details class="explain2">
        <summary><%= @summary %></summary>
        <%= link_to "投稿が新しい順", posts_index_path(post_new: "true") %>
        <%= link_to "投稿が古い順", posts_index_path(post_old: "true") %>
        <%= link_to "受信日時が新しい順", posts_index_path(receive_new: "true") %>
        <%= link_to "受信日時が古い順", posts_index_path(receive_old: "true") %>
    </details>
</div>

<% @posts.each do |post| %>

    <div class="frame">

        <div class="header">
            <img src="/wave.png" alt="電波" width="25" height="20">
            <img class="header_right" src="/battery.png" alt="充電" width="30" height="20">
        </div>

        <div class="form">
            <div class="input_frame red">
                <p>受信メール</p>
            </div>
            
            <div class="input_frame">
                <ul class="input_frame_son">
                    <li>受信日時：</li>
                    <li class="input"><%= post.datetime.strftime('%Y/%m/%d %H:%M') %></li>
                </ul>
            </div>

            <div class="clear input_frame">
                <ul class="input_frame_son">
                    <li>差出人：</li>
                    <li class="input"><%= post.name %></li>
                </ul>
            </div>

            <div class="clear input_frame gray">
                <ul class="input_frame_son">
                    <li>件名：</li>
                    <li class="input"><%= post.sub %></li>
                </ul>
            </div>

            <div class="clear">
                <div class="textarea"><%= post.content %></div>
            </div>

            <!--
            <div class="clear">
                <div class="textarea"><%= post.content %><br><%= link_to 'もっと見る', '#', class: 'show-more' %></div>
            </div>
            -->

        </div>

    </div>

    <div><br></div>

    <!--
    <script>
    // DOMContentLoadedイベントはHTMLの初期文書が完全に読み込まれた時点で発生
    document.addEventListener('DOMContentLoaded', function() {
        var textarea = document.querySelector('.textarea');
        var showMore = document.querySelector('.show-more');

        // クリックしたら動作
        showMore.addEventListener('click', function(event) {
            // eventのデフォルト動作を無効化（クリックしてもページ偏移させない）
            event.preventDefault();
            // maxHeightを解除
            textarea.style.maxHeight = 'none';
        });
    });
    </script>
    -->

<% end %>