<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Regretメール</title>
    <%# 拡大させない %>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="他人の後悔を見れる投稿サイトです。ぜひあなたの後悔を投稿してみてください。">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "/" do %>
        Regretメール
      <% end %>
    </header>

    <%= yield %>
    
    <footer>
      
    </footer>
  </body>
</html>
